<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>
		<br />

			<% if(validacao) { %>
				<ul>
					<% for(var i = 0; i<validacao.length; i++){ %>
						<li>
							<%= validacao[i].msg %>
						</li>
					<% } %>
				</ul>
			<% } %>

		<form action="/noticias/salvar" method="POST">

			<label>Titulo</label>
			<input type="text" id="titulo" name="titulo" value="<%=noticia.titulo%>" placeholder="Título da noticia"/>
			<br />

			<label>Resumo</label>
			<input type="text" id="resumo" name="resumo" value="<%=noticia.resumo%>" placeholder="Resumo da noticia"/>
			<br />

			<label>Nome Autor</label>
			<input type="text" id="autor" name="autor" value="<%=noticia.autor%>" placeholder="Autor da noticia"/>
			<br />

			<label>Data dos fatos</label>
			<input type="date" id="dataNoticia" name="dataNoticia" value="<%=noticia.dataNoticia%>" placeholder="Data da noticia"/>
			<br />

			<label>Noticia</label>
			<textarea id="noticia" name="noticia" rows="5" cols="30"><%=noticia.noticia%></textarea> <!--Como o campo Noticias é uma textarea, deve-se por o comando de mostrar a noticia dentro da tag-->
			<br />

			<input type="submit" value="Enviar" />

		</form>

	</body>
</html>